<?xml version="1.0"?>
<launch>

<arg name="marker_size" default="50" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/front_cam/camera/image" />
	<arg name="cam_info_topic" default="/front_cam/camera/camera_info" />
	<arg name="output_frame" default="/front_cam_link" />
	<arg name="max_frequency" default="10" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frequency)">
		
	</node>

<node name="ar_helipad" pkg="ar_helipad" type="ar_helipad.py" respawn="false" output="screen">
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="mode" type="int" value="1"/>
    </node>


<!--
	<node name="tf_listener" pkg="rover_localization" type="tf_listener.py" output="log"/>
-->

</launch>
